<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.attmng.atms.mappers.employee">

	<select id="getLoginInfo" parameterType="map" resultType="login">
		 SELECT * FROM t_employee
	</select>
	
	<select id="LoginPOST" resultType="EmployeeVO">
		select id, password, emp_name, comName_ryak, pos_name, dep_name
		from  t_employee e, t_company c, t_department d, t_position p 
		where e.com_code = c.com_code 
		and   e.pos_code = p.pos_code
		and   e.dep_code = d.dep_code
		and   id = #{id}
	</select>
	
</mapper>