<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.attmng.atms.mappers.member">

	<select id="get_membersInfo" parameterType="map" resultType="MemberInfo">
		 SELECT * FROM t_employee
	</select>
	
	<select id="get_memberInfo" parameterType="map" resultType="MemberInfo">
		 SELECT * FROM t_employee WHERE emp_name = #{name}
	</select>
	
</mapper>